---
import ButtonNavigation from "./ButtonNavigation.astro";
import Menu from "./react/Menu.tsx";

interface Props {
	homeSelected: boolean;
	AbouSelected: boolean;
	contactoSelected: boolean;
}

const { homeSelected,contactoSelected, AbouSelected } = Astro.props;
---

<nav class="min-h-16 sticky top-0 px-2 flex items-center justify-between bg-[#e3dfda]/90 shadow-xl z-30 max-w-screen animate-bajada min-[340px]:px-4">
	<span class="w-fit flex items-center gap-2 text-black/80 font-bold flex-nowrap  py-2 ">
        <img src="/ladle-icon.svg" alt="ladle" class="size-16">
        <p id="title" class="text-3xl block">Comida a un click</p>
	</span>
    <div class="flex items-center gap-2 flex-nowrap ">
        <ButtonNavigation links="/" title="🍽️ Carta" selected={homeSelected} />
        <ButtonNavigation links="/informacion" title="🧾 Informacion" selected={AbouSelected} />
        <ButtonNavigation links="/contactanos" title="📲 contactanos" selected={contactoSelected} />
        <Menu
            PrinSelected={homeSelected}
            AbouSelected={AbouSelected}
            ContSelected={contactoSelected}
            client:load 
        />
    </div>
</nav>

<style>
    #title {
        font-family: var(--font-Caveat);
    }
</style>
